In [132]:
import pandas as pd
pd.options.display.max_columns = None

import sqlalchemy as alch
from sqlalchemy.exc import SQLAlchemyError

from getpass import getpass # secure system to manage passwords

In [2]:
class Load:
    
    def __init__(self, db_name, password_db):

        # nuestra clase va a recibir dos parámetros que son fijos a lo largo de toda la BBDD, el nombre de la BBDD y la contraseña con el servidor. 
        self.db_name = db_name
        self.password_db = password_db

    def server_connection(self): 
        connection = f"mysql+pymysql://root:{self.password_db}@localhost"
        return alch.create_engine(connection)


    def create_db(self):
        engine = self.server_connection()
        try:
            engine.execute(f"CREATE DATABASE IF NOT EXISTS {self.db_name};")
            
        except:
            print("DB already exists")

    def db_connection(self):

        connection2 = f"mysql+pymysql://root:{self.password_db}@localhost/{self.db_name}"
        return alch.create_engine(connection2)

    def create_insert_table(self, query):
        engine = self.db_connection()

    
        try:
            engine.execute(query)
          
        except SQLAlchemyError as e:
            error = str(e.__dict__['orig'])
            return error

    def get_id(self, link, col_id,  column, table):
        
        engine = self.db_connection()
        
        try:
            query_get_id = f"SELECT {col_id} FROM {table} WHERE {column} = '{link}'"

            id_ = engine.execute(query_get_id).first()
 
            if not id_:
                return "id is not in DB"
            else:
                return engine.execute(query_get_id).first()[0]
        
        except SQLAlchemyError as e:
            error = str(e.__dict__['orig'])
            return error

In [3]:
password_db = getpass("Contraseña de MySQL: ")

Contraseña de MySQL: ········

In [4]:
earthquakes = Load("earthquakes", password_db)
earthquakes.create_db()

In [5]:

create_table_earthquakes = '''
CREATE TABLE IF NOT EXISTS `earthquakes`.`f_earthquakes` (
 `id_earthquake`		VARCHAR(36)
, `key_earthquake_gdp`	VARCHAR(36)
, `time`  				TIMESTAMP
, `year`				YEAR
, `latitude` 			FLOAT 
, `longitude` 			FLOAT
, `depth` 				FLOAT
, `mag` 				FLOAT
, `magType` 			TEXT
, `nst`					FLOAT
, `gap`					FLOAT
, `dmin`				FLOAT
, `rms`					FLOAT
, `net`					TEXT
, `id`					TEXT
, `place`				TEXT
, `type`				TEXT
, `horizontalError`		FLOAT
, `depthError`			FLOAT
, `magError`			FLOAT
, `magNst`				FLOAT
, `status`				TEXT
, `locationSource`		TEXT
, `magSource`			TEXT
, `updated_date`		TIMESTAMP
, `inserted_date`		TIMESTAMP
, PRIMARY KEY (`id_earthquake`)
, INDEX `fk_idx_key_earthquake_gdp`(`key_earthquake_gdp` ASC));

'''

In [6]:

create_table_gdp = '''
CREATE TABLE IF NOT EXISTS `earthquakes`.`f_gdp` (
`id_gdp`				VARCHAR(36)
, `key_gdp_earthquake`	VARCHAR(36)
, `year`				YEAR
, `gdp`					FLOAT
, `state_code`			VARCHAR(2)
, `state_name`			TEXT
, `longitude`			FLOAT
, `latitude`			FLOAT
, `inserted_date`		TIMESTAMP
, PRIMARY KEY (`id_gdp`)
, INDEX `fk_idx_key_earthquake_gdp`(`key_gdp_earthquake` ASC));
'''

In [7]:

earthquakes.create_insert_table(create_table_earthquakes)

earthquakes.create_insert_table(create_table_gdp)

In [134]:
def date_to_string(date):
    date_str = str(date)
    t = date[:10]
    z = date[11:19]
    return t+ ' ' +z

In [135]:
date_to_string('2017-01-20T00:31:18.472Z')

'2017-01-20 00:31:18'

In [221]:
f_earthquakes = pd.read_parquet('../data/extraction_layer/f_earthquakes.parquet', engine='fastparquet')

In [233]:


f_earthquakes['updated_date']=f_earthquakes.apply(lambda my_data: date_to_string(my_data['updated_date']), axis = 1)
f_earthquakes['time']=f_earthquakes.apply(lambda my_data: date_to_string(my_data['time']), axis = 1)

In [235]:


f_earthquakes_sample = f_earthquakes.sample(10)

In [230]:
f_earthquakes_sample.dtypes

id_earthquake          object
key_earthquake_gdp     object
time                   object
year                    int64
latitude              float64
longitude             float64
depth                 float64
mag                   float64
magType                object
nst                   float64
gap                   float64
dmin                  float64
rms                   float64
net                    object
id                     object
place                  object
type                   object
horizontalError       float64
depthError            float64
magError              float64
magNst                float64
status                 object
locationSource         object
magSource              object
updated_date           object
dtype: object

In [224]:
f_earthquakes_sample

,id_earthquake,key_earthquake_gdp,time,year,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,net,id,place,type,horizontalError,depthError,magError,magNst,status,locationSource,magSource,updated_date
3000438,23394123-0843-56c5-82bf-5a19aac746e6,503d3086-0a52-5cc0-8685-9391544b4a92,2017-02-05T16:51:02.091Z,2017,61.400200,-140.323800,6.800,1.10,ml,NaN,NaN,NaN,0.42,ak,ak15207990,"168km WNW of Haines Junction, Canada",earthquake,NaN,0.30,NaN,NaN,reviewed,ak,ak,2017-02-16 20:17:52
2095226,208ac130-c76d-5f8a-9745-7f313815ea98,6072969e-f0d4-5250-a17d-05df2e415850,2009-01-16T14:23:22.990Z,2009,38.817167,-122.795833,2.470,1.69,md,36.0,37.0,0.009009,0.08,nc,nc40230251,Northern California,earthquake,0.220,0.34,0.156,15.0,reviewed,nc,nc,2017-01-19 19:41:14
703605,562c7735-e468-5158-a33d-75bae807b6dc,35d572df-ec0d-5813-90ef-d63383edc356,1992-06-09T16:59:44.060Z,1992,39.241500,-123.183500,7.730,1.64,md,11.0,74.0,0.098200,0.03,nc,nc292032,Northern California,earthquake,0.320,1.66,0.140,8.0,reviewed,nc,nc,2016-12-19 12:26:34
1836066,13b04eda-853e-5935-959a-b811f8f214ef,15197c0d-5e8c-579d-9386-fa7ead5e9f7f,2006-08-08T12:23:02.940Z,2006,60.041700,-152.710200,104.900,1.90,ml,NaN,NaN,NaN,0.48,ak,ak006a41ihli,Southern Alaska,earthquake,NaN,1.00,NaN,NaN,reviewed,ak,ak,2019-02-13 05:12:08
1984561,d96b4fe7-b790-5998-b10d-9f57156bc56a,3398154e-f313-5c9c-8325-1c4ea27bc9fb,2008-03-01T12:34:52.300Z,2008,44.054000,11.244000,5.800,2.50,ml,12.0,127.1,NaN,NaN,us,usp000g0dc,northern Italy,earthquake,NaN,NaN,NaN,NaN,reviewed,rom,rom,2014-11-07 01:35:08
348434,c6103e7e-0b0f-550b-a289-8e851dc2ebdf,edf757be-4c47-5530-a3de-725abd9829f2,1985-08-04T14:52:41.510Z,1985,39.565833,-123.359667,7.496,1.29,md,6.0,196.0,0.089190,0.01,nc,nc54871,Northern California,earthquake,0.590,2.22,0.100,4.0,reviewed,nc,nc,2016-12-03 07:46:50
2199746,27b8708c-bd33-555a-8b39-661050b3c33c,c9c7632c-f4d8-5c70-9071-94120ff5eae9,2010-03-05T18:03:03.407Z,2010,63.199600,-151.364100,8.600,1.70,ml,NaN,NaN,NaN,0.63,ak,ak0102y54nwk,Central Alaska,earthquake,NaN,0.00,NaN,NaN,reviewed,ak,ak,2018-07-06 20:10:21
1708412,ffe93443-cc1c-589f-ace2-b6a1ff1ce1ea,0d012d18-c36d-551e-95fb-40153f3be906,2005-05-11T18:23:59.690Z,2005,46.198667,-122.186833,-1.443,1.70,md,11.0,93.0,NaN,0.05,uw,uw10661588,"Mount St. Helens area, Washington",earthquake,0.163,0.31,0.030,5.0,reviewed,uw,uw,2016-07-22 21:28:49
1525827,0b99a499-937a-570b-8176-f02278895b0b,0af9d843-5fe8-5703-9f5e-72b825145f1a,2003-10-05T11:27:27.490Z,2003,34.337667,-118.738500,14.868,2.91,ml,95.0,21.0,NaN,0.29,ci,ci9949153,"7km N of Simi Valley, CA",earthquake,0.220,0.38,0.174,119.0,reviewed,ci,ci,2016-04-01 21:08:40
287272,fc75b95a-1d78-5c5e-969c-d54b64c2f2e9,f701236a-ac98-5137-a1ae-b7abd759be7f,1984-07-17T16:18:06.100Z,1984,38.805000,-122.793500,3.094,1.14,md,9.0,116.0,0.002703,0.02,nc,nc1117762,Northern California,earthquake,0.370,0.65,0.130,9.0,reviewed,nc,nc,2016-12-02 02:23:24

In [225]:
fields_param_lst = []
fields_lst = []
for ele in f_earthquakes_sample.columns:
    if f_earthquakes_sample[ele].dtypes == 'object':
        fields_param_lst.append("{quote}"+'{row["'+f"{ele}"+'"]}'+"{quote}")
    else:
        fields_param_lst.append('{row["'+f"{ele}"+'"]}')
    fields_lst.append(ele)


fields_param = ", ".join(fields_param_lst)
fields = ", ".join(fields_lst)

In [226]:
def fstr(template):
    return eval(f"f'{template}'")

In [236]:
for index, row in f_earthquakes_sample.iterrows():
    
    quote = "'"
    
    # creating the query to insert values into table
    query_insert= "INSERT INTO earthquakes.f_earthquakes ({fields}) VALUES ({fields_param});"
    
    query_insert_eval = fstr(fstr(query_insert)).replace("nan", "null")
    
    id_link = earthquakes.get_id( f'{row["id_earthquake"]}', "id_earthquake" , "id_earthquake", "f_earthquakes")
    
    if id_link == 'id is not in DB' : 
        earthquakes.create_insert_table(query_insert_eval)
        print(fstr(query_insert),"\n")
        print(query_insert_eval)
        
    else:
        print('id: ',{row['id_earthquake']}, " is already in DB")
    
    break

INSERT INTO earthquakes.f_earthquakes (id_earthquake, key_earthquake_gdp, time, year, latitude, longitude, depth, mag, magType, nst, gap, dmin, rms, net, id, place, type, horizontalError, depthError, magError, magNst, status, locationSource, magSource, updated_date) VALUES ({quote}{row["id_earthquake"]}{quote}, {quote}{row["key_earthquake_gdp"]}{quote}, {quote}{row["time"]}{quote}, {row["year"]}, {row["latitude"]}, {row["longitude"]}, {row["depth"]}, {row["mag"]}, {quote}{row["magType"]}{quote}, {row["nst"]}, {row["gap"]}, {row["dmin"]}, {row["rms"]}, {quote}{row["net"]}{quote}, {quote}{row["id"]}{quote}, {quote}{row["place"]}{quote}, {quote}{row["type"]}{quote}, {row["horizontalError"]}, {row["depthError"]}, {row["magError"]}, {row["magNst"]}, {quote}{row["status"]}{quote}, {quote}{row["locationSource"]}{quote}, {quote}{row["magSource"]}{quote}, {quote}{row["updated_date"]}{quote});

INSERT INTO earthquakes.f_earthquakes (id_earthquake, key_earthquake_gdp, time, year, latitude, longitude, depth, mag, magType, nst, gap, dmin, rms, net, id, place, type, horizontalError, depthError, magError, magNst, status, locationSource, magSource, updated_date) VALUES ('f30d8642-c436-5090-b756-fe9bcd650d79', '7549253d-de14-5c66-af46-9534ca259efa', '2018-03-11 00:19:19', 2018, 41.8891, 82.5752, 10.0, 4.2, 'mb', null, 102.0, 3.161, 1.06, 'us', 'us1000d2x7', '34km WNW of Kuqa, China', 'earthquake', 8.3, 1.9, 0.121, 19.0, 'reviewed', 'us', 'us', '2018-06-08 05:12:19');

In [54]:
template_a = "The current name is {name}"
names = ["foo", "bar"]
for name in names:
    print(fstr(template_a))

The current name is foo
The current name is bar